:root{
    --background: #101114;
    --primary-color: #1c1d20;
    --secodary-color: #4a4d57;
    --accent-color: #00ccff;
    --text-color: #f9f9f9;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



nav{
    width: 100%;
    border-bottom: 1px solid var(--secodary-color);
    padding: 12px;
    font-size: 15pt;
    /* font: inherit; */
    color: var(--text-color);
    @media(max-width: 500px){
        font-size: 3vw;
    }

}
.theame{
    display: flex;
    align-items: center;
    justify-content: space-around;

}
.color-con{
    input{
        border: none;
        outline: none;
        background-color: transparent;
        cursor: pointer;
    }
}
.greet,.color-con{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
html{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 16pt;
    color: var(--text-color);
}
body{
    min-height: 100dvh;
    padding: 10px;
    background-color: var(--background);
    display: flex;
    flex-direction: column;
    align-items: center;

}

h1{
    margin-top: 100px;
    margin-bottom: 20px;
    font-size: 3rem;
    font-weight: 800;
    text-transform: uppercase;
    text-align: center;
    color: var(--accent-color);
}
.wrapper{
    width: 700px;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
#todo-input{
    box-sizing: border-box;
    padding: 12px 20px;
    width: 100%;
    background: none;
    border: 2px solid var(--secodary-color);
    border-radius: 100px;
    font: inherit;
    color: var(--text-color);
    caret-color: var(--accent-color);

}
#todo-input:focus{
    outline: none;
}
form{
    position: relative;
}

#add-button{
    position: absolute;
    top: 0;
    right: 0;
    background-color: var(--accent-color);
    height: 100%;
    padding: 0 30px;
    border: none;
    border-radius: 10000px;
    font: inherit;
    font-weight: 600;
    color:var(--background);
    cursor: pointer;
}

.todo{
    margin-bottom: 10px;
    padding: 0 16px;
    background-color: var(--primary-color);
    border-radius: 15px;
    display: flex;
    align-items: center;
}

.todo .todo-text{
    padding: 15px;
    padding-right: 0;
    flex-grow: 1;
    cursor: pointer;
}


.delete-button{
    padding: 3px;
    background: none;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.delete-button svg{
    transition: 200ms ease;
}
.delete-button:hover svg{
    fill: #ff0033;
}
.edit-button{
    background: none;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 3px;
    cursor: pointer;
    padding-right: 10px;
    svg{
        transition: 200ms ease;
    }
    &:hover svg{
        fill: green;
    }
}

.update{
    color: #fff;
}
.custom-checkbox{
    border: 2px solid var(--accent-color);
    border-radius: 50%;
    min-width: 20px;
    min-height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    transition: 200ms ease;
    cursor: pointer;
}
input[type="checkbox"]:checked ~ .custom-checkbox svg{
    fill: var(--primary-color);
}
input[type="checkbox"]:checked ~ .custom-checkbox{
    background-color: var(--accent-color);
}

input[type="checkbox"]:checked ~ .todo-text{
    text-decoration: line-through;
    color: var(--secodary-color);
}

input[type="checkbox"]{
    display: none;
}
.container{
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 300px;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%,10%);
}
.user-name-con{
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    position: fixed;
    padding: 20px 10px;
    background: var(--background);
    display: none;
    z-index: 100000;
    border-radius: 10px;
    min-height: 200px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.4);
}

.showName{
    display: block;
}

.name-inp{
    padding: 8px 16px;
    border: 2px solid var(--secodary-color);
    outline: none;
    background: none;
    caret-color: var(--accent-color);
    border-radius: 10px;
    color: var(--text-color);
    font-size: 16px;

}
.name-btn{
    padding: 8px 16px;
    color: var(--text-color);
    background: var(--accent-color);
    border: none;
    border-radius: 10px;
    font-size: 15px;
    cursor: pointer;
}
.overlay{
    position: fixed;
    backdrop-filter: blur(6px);
    inset: 0; /* top:0; left:0; right:0; bottom:0 */
    pointer-events: none; /* disabled by default */
    transition: 0.3s ease;
    z-index: 9;
    opacity: 0;
}

.overlay.active {
    opacity: 1;
    pointer-events: all; /* now it blocks clicks */
}

@media(max-width: 500px){
    html{
        font-size: 12pt;
    }
    #add-button{
        position: unset;
        width: 100%;
        margin-top: 10px;
        padding: 15px;
        height: auto;
    }
    h1{
        margin-top: 50px;
        font-size: 15vw;
    }
}